<p>Players are numerically listed starting from your left, moving clockwise</p>
  <% @players.each do |player| %>
    <%= erb :"players/_player", layout: false, locals: {player: player} %>
  <% end %>
<p><em>Press the button once you've followed these assignments</em></p>
<button>Continue</button>